/* det her er universal selector for den complete general indstillinger*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* her redigere jeg baggrund indstillinger*/
html {
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(16, 78, 178, 0.8), rgba(16, 78, 178, 0.25));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

 /* her redigere jeg på titlen indenfor hvor der står welcome Manager */
.welcome-title {
    line-height: 50px;
    background: rgb(16, 78, 178);
    padding-left: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
}

/* her justere jeg knapperne i navigation bar*/
#createUserManagerLinkButton , #showProjectsButton {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding-left: 0px;
    background: rgb(238, 240, 230);
    color: black;
    border: 1px solid rgb(238, 240, 230);
    border-radius: 5px;
    align-items: center;
    display: inline-block;
    margin: 0 auto;
}
.menu {
    text-align: center;
}

/* her justere jeg hovering over navbar og knapperne*/
#createUserManagerLinkButton:hover {
    background: rgb(112, 155, 223);
}
#showProjectsButton:hover {
    background: rgb(112, 155, 223);
}
.sbmt:hover {
    background: rgb(112, 155, 223);
}

/* her justere jeg de forskellig former*/
#createUserManagerLink{
    font-weight: 600;
    font-size: 20px;
    padding-left: 0px;
    background: rgb(238, 240, 230);
    color: black;
    border: 1px solid rgb(238, 240, 230);
    border-radius: 15px;
    align-items: center;
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    height: 180%;
}

/* her rediger jeg submit knapperne*/
.sbmt {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding-left: 0px;
    background: rgb(16, 78, 178);
    color: white;
    border: 1px solid rgb(16, 78, 178);
    border-radius: 5px;
    align-items: center;
    width: 30%;
}

/* her redigere jeg skrive felterne*/
input {
    border-radius: 5px;
    width: 30%;
    height: 30px;
}



#createUserManagerLink {
    display: none;
}