/* det her er universal selector for den complete general indstillinger*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* her redigere jeg baggrund indstillinger*/
html {
    margin: auto;
    background: linear-gradient(to bottom, rgba(16, 78, 178, 0.8), rgba(16, 78, 178, 0.25));
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 100%;
}
/* her rediger jeg den div der holder hele tabellen*/
#container{
    
    background-color: rgb(239, 239, 239);
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    
}


/*her redigere jeg selve tabellen */
table{
	width: 100%;
	border-collapse: collapse;
    border-radius: 1px;
}

/*her rediger jeg de forskellige rows and collumns*/
table td,table th{
  border-collapse: collapse;  
  text-align: center;
  font: size 15px;
  padding:2px 2px;
  border: 1px solid white
}
table th{
	background-color: rgb(16, 78, 178);
	color:#ffffff;
}


/*her justere jeg input felterne */
input{
    padding-left: 0px;
}

/* her rediger jeg Add Row knappen*/
#AddRow{
    cursor: pointer;
    font-weight: 600;
    font-size: 100%;
    padding-left: 0px;
    background: rgb(16, 78, 178);
    color: white;
    border: 1px solid rgb(16, 78, 178);
    border-radius: 5px;
    align-items: center;
    width: 40%;
    height: 30%;
}

#timeSheetButton{
    display: block;
    margin-right: 20px;
    margin-left: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(16, 78, 178);
    color: white;
    border: 1px solid rgb(16, 78, 178);
    border-radius: 5px;
    align-items: center;
}
.btn{
    text-align: center;
    margin-top: 5px;
}
/* her justere jeg hovering over knappen*/
#AddRow:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}  
#timeSheetButton:hover{
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
} 

@media all and (max-width: 500px ){

    #timeSheetButton{
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
    }
}

/* hvis du er en css gud så må du gerne fix det her 😘😘*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}