/* det her er universal selector for den complete general indstillinger*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* her redigere jeg baggrund indstillinger*/
html {
    margin: auto;
    background: linear-gradient(to bottom, rgba(16, 78, 178, 0.8), rgba(16, 78, 178, 0.25));
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 100%;
}

.innermenu{
    place-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    }
    .container {
        margin-left: 84px;
        display: flex;
        width: auto;
     }
     
     
     #logoutButton {
        margin-left:auto;
        margin-right:0;
     }

/* her justere jeg knapperne i navigation bar*/
#CurrentTimesheet, #TimeSheetHistory, #logoutButton {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(238, 240, 230);
    color: black;
    border: 1px solid rgb(238, 240, 230);
    border: 1px solid rgb(238, 240, 230);
    border-radius: 5px;
    margin: 3px;
    text-decoration: none;
}
.menu {
    text-align: center;
}

/* her justere jeg hovering over navbar og knapperne*/
#projectButton:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}
#ManagerButton:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}

#logoutButton:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}
#ManagerButton a:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}
#logoutButton a:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}
.sbmt:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}

 /* her redigere jeg på titlen indenfor hvor der står welcome Manager */
 .welcome-title {
    line-height: 50px;
    background: rgb(16, 78, 178);
    padding-left: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
 }
/* her rediger jeg den div der holder hele tabellen*/
#timesheetcontainer{
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    padding:50px;
    background: rgb(238, 240, 230);
}


/*her redigere jeg selve tabellen */
table{
	width: 90%;
	border-collapse: collapse;
    border-radius: 1px;
    margin: 0 auto;
}

/*her rediger jeg de forskellige rows and collumns*/
table td,table th{
  border-collapse: collapse;  
  text-align: center;
  font: size 15px;
  padding:2px 2px;
  border: 1px solid white;
}
table th{
	background-color: rgb(16, 78, 178);
	color:#ffffff;
}


/*her justere jeg input felterne */
input{
    padding-left: 0px;
}

/* her rediger jeg Add Row knappen*/
#AddRow{
    cursor: pointer;
    font-weight: 600;
    font-size: 100%;
    padding-left: 0px;
    background: rgb(16, 78, 178);
    color: white;
    border: 1px solid rgb(16, 78, 178);
    border-radius: 5px;
    align-items: center;
    width: 40%;
    height: 30%;
}

#timeSheetButton{
    display: block;
    margin-right: 20px;
    margin-left: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(16, 78, 178);
    color: white;
    border: 1px solid rgb(16, 78, 178);
    border-radius: 5px;
    align-items: center;
}
.btn{
    text-align: center;
    margin-top: 5px;
}
/* her justere jeg hovering over knappen*/
#AddRow:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}  
#timeSheetButton:hover{
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
} 
#TimeSheetHistory:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}
#CurrentTimesheet:hover {
    color: rgb(38, 144, 210);
    background: rgb(208, 209, 210);
}
@media all and (max-width: 500px ){

    #timeSheetButton{
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
    }

    table td,table th {
        font-size: 6px;
}

#CurrentTimesheet, #TimeSheetHistory, #logoutButton {
    font-size: 15px;
}

}